<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyBus_Modbus_Scanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <EasyBus_Modbus_Scanner.Properties.Settings>
            <setting name="ConnectionMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="ConnectionTimeOut" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BaudRateIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DataBitsIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ResponseTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PollingRate" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="NodeID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Function" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Address" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Amount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="BinaryControlWord" serializeAs="String">
                <value>0</value>
            </setting>
        </EasyBus_Modbus_Scanner.Properties.Settings>
    </userSettings>
</configuration>